<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.component.css"/>
    <script src="https://kit.fontawesome.com/c486202c01.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<header>
    <div class="menu-container">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <img src="../img/logo.jpg" alt="" width="100px" height="100px" class="imagen-redonda">
                        <span class="nav-item">SisSalud</span>
                        <br><br>
                    </a>
                </li>
                <li><a href="../views/inicio.html">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Inicio</span>
                </a></li><br><br>
                <li><a href="../views/inventario.html">
                    <i class="fa-solid fa-warehouse"></i>
                    <span class="nav-item">Inventario</span>
                </a></li><br><br>
                <li><a href="../views/añadir.html">
                    <i class="fa-solid fa-plus"></i>
                    <span class="nav-item">Añadir</span>
                </a></li><br><br>
                <li><a href="../views/editar.html">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span class="nav-item">Editar</span>
                </a></li><br><br>
                <li><a href="../views/eliminar.html">
                    <i class="fa-solid fa-trash"></i>
                    <span class="nav-item">Eliminar</span>
                </a></li><br><br>
                <li><a href="../views/login.html">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Cerrar Sesión</span>
                </a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    
</body>
</html>