<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">
        <ul>
            <li>
            <label for="text">Ingrese su usuario:</label>
            <input type="text" required>
        <br><br>
        </li>
        <li>
            <label for="password">Ingrese su contraseña</label>
            <input type="password" required>
        </li>
        </ul>
        <input type="submit" value="Iniciar Sesión">
    </form>
</body> 
</html>