<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css"/>
    
    <script src="https://kit.fontawesome.com/c486202c01.js" crossorigin="anonymous"></script>
        <title>Document</title>
</head>
<header>

</header>
<body>  
    <header class="mi-header">
        <div class="logo3">
           <img src="../assets/img/user.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="#">User</a></li>
            </ul>
        </nav>
    </header>
    <div class="menu-container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="../assets/img/logo.jpg " alt="" width="100px" height="100px" class="imagen-redonda">
                        <span class="nav-item">SisSalud</span>
                        <br><br><br>
                    </a>
                </li>
                <li><a href="#">
                    <i class="fas fa-home"></i>
                    <span class="nav-item"> Inicio</span>
                </a></li><br><br>
                <li><a href="#">
                    <i class="fas fa-warehouse"></i>
                    <span class="nav-item"> Inventario</span>
                </a></li><br><br>
                <li><a href="#">
                    <i class="fas fa-plus"></i>
                    <span class="nav-item"> Añadir</span>
                </a></li><br><br>
                <li><a href="#">
                    <i class="fas fa-pen-to-square"></i>
                    <span class="nav-item"> Editar</span>
                </a></li><br><br>
                <li><a href="#">
                    <i class="fas fa-trash"></i>
                    <span class="nav-item"> Eliminar</span>
                </a></li><br><br>
                <li><a href="#" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item"> Cerrar Sesión</span>
                </a></li>
            </ul>
        </nav>
    </div>
    <h4>Productos</h4>
    <main><table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Consultar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                       
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        
                        <span><i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>Acetaminofen</td>
                <td>Se utiliza principalmente para tratar la fiebre y el dolor leve y moderado.</td>
                <td>3</td>
                <td>2.000</td>
                <td style="text-align: center;">
                    <a href="#" class="consultar">
                        <span> <i class="fa-solid fa-eye"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
      
      
    </table></main>
</body>
<footer>
  
</footer>
</html>